<div class=user-profile>
	<h1 class="user-profile">Your Profile</h1>

		<div class="main-info card">
			<div class="profile-img">
				<img src="<%= user.picture.pic_path %>" alt="user profile picture" class="img-raised rounded">
			</div>
			<div class="card-body">
				<div class="main-info-data">
					<h3><%=user.username %></h3>
					<div>
						<h4>Your Interests:</h4>
						<div><% user.interests.forEach((interest) =>{ %> 
								<span class="badge badge-pill badge-primary"><%=interest %></span>
							<% }) %>
						</div>
					</div>			
				</div>
			</div>	
		</div>
		<div class="contact-info card">	
			<div class="card-body">
				<div class="warning">
					<div class="alert-icon">
						<i class="material-icons">info_outline</i>
					</div>
					<p>NGO's will be able to see this info when you apply for an opportunity</p>
				</div>	
				<div class="contact-info-2">
					<div>
						<h5>Contact info:</h5>
							<p>Full name: <%=user.name %> <%= user.surname %></p>
							<p>Telephone: <%=user.telephone %></p>
							<p>Email: <%=user.email %></p>
					</div>
					<div>
						<h5>Address:</h5>
							<p><%=user.address.street %></p>
							<p><%=user.address.state %></p>
							<p><%=user.address.city %> <%=user.address.zip %></p>
					</div>		
				</div>	
					<h5>Availability:</h5>
					<div><% user.availability.forEach((availability) =>{ %> 
						<span class="badge badge-pill badge-primary"><%=availability %></span>
					<% }) %>
				</div>	
			</div>	
		</div>
	<% if (user._offersRegistered.length > 0) { %>
	<div class="all-opportunities">
		<h2>Manage your opportunities</h2>
		<% user._offersRegistered.forEach((offer) => { %>
		<div class="card card-opportunity">
			<img class="card-img-top" src="<%=offer.picture.pic_path %>" alt="offer profile picture">
			<div class="card-body">
				<div class="card-body-info"> 
				<h3><a href="/offer/<%=offer._id%>"><%= offer.title %></a></h3>
				<span class="badge badge-pill badge-primary"><%= offer.category %></span>
				<h4><a href="/offer/<%=offer._id%>"><%= offer._ong.name %></a></h4>
			</div>
			<a href="/offer/<%=offer._id%>" class="btn btn-primary">Learn more</a>
		</div>
		</div>
		<%  }) %>
	</div>
	<% } %>
</div>
