<div class=user-profile>
	<h1 class="user-profile">Your Profile</h1>
	<div class="user-info">
		<div class="main-info">
				<img height="200" width="200" src="<%= user.picture.pic_path %>" alt="user profile picture" class="img-raised rounded">
			<div class="main-info-data">
			<h3><%=user.username %></h3>
			<h4>Your Interests:</h4>
				<div><% user.interests.forEach((interest) =>{ %> 
						<span class="badge badge-pill badge-primary"><%=interest %></span>
					<% }) %>
				</div>		
			</div>
		</div>
		<div class="contact-info">	
				<h4>Your Contact info:</h4>
		</div>
	</div>
	
	<% if (user._offersRegistered.length > 0) { %>
	<div class="all-opportunities">
		<h2>Manage your opportunities</h2>
		<% user._offersRegistered.forEach((offer) => { %>
		<div class="card card-opportunity" style="width: 60%;">
			<img class="card-img-top" src="<%=offer.picture.pic_path %>" alt="offer profile picture">
			<div class="card-body">
				<div class="card-body-info"> 
				<h3 class="card-title"><%= offer.title %></h3>
				<span class="badge badge-pill badge-primary"><%= offer.category %></span>
				<h4><a href="/ong/<%=offer._ong.id%>"><%= offer._ong.name %></a></h4>
			</div>
			<a href="/offer/<%= offer._id %>" class="btn btn-primary">Manage opportunity</a>
			</div>
		</div>
		<%  }) %>
	</div>
	<% } %>
</div>
