<div class="offer">
    <div class="photo"><img src="<%=offer.picture.pic_path %>"></div>  
    <div class="offer-data">
        <span class="offer-data-title"><%= offer.title %></span>
        <span class="offer-data-category"><%= offer.category %></span>
        <span class="offer-data-about"><%= offer.about %></span>
        <span class="offer-data-when"><%= offer.when %></span>
        <span class="offer-data-where"><%= offer.where %></span>
        <span class="offer-data-requirements"><%= offer.requirements %></span>
        <% if (role == 'user') { %>
            <% if (userStatus === true) { %>
                <button class="offer-data-button offerbutton unsubscribe">Unsusbcribe from this offer</button>
            <% } else { %>
                <button class="offer-data-button offerbutton subscribe">Join the Cause</button>
            <% } %>    
        <% } %>
        <% if (role == 'ong' && ongOwner === true) { %>
                <button class="offer-data-button offerbutton edit">Edit this offer</button>
        <% } %>
        
        <span><%= userStatus %></span>
    </div>
  </div>
