<div class="offer">
    <div class="photo"><img src="<%=offer.picture.pic_path %>"></div>  
    <div class="offer-data">
        <span class="offer-data-title"><%= offer.title %></span>
        <span class="offer-data-category"><%= offer.category %></span>
        <span class="offer-data-about"><%= offer.about %></span>
        <span class="offer-data-when"><%= offer.when %></span>
        <span class="offer-data-where"><%= offer.where %></span>
        <span class="offer-data-requirements"><%= offer.requirements %></span>
        <% if (userStatus != null) { %>
            <% if (userStatus === true) { %>
                <button class="offer-data-button offerbutton unsubscribe">Unsusbcribe from this offer</button>
            <% } else { %>
                <button class="offer-data-button offerbutton subscribe">Join the Cause</button>
            <% } %>    
        <% } %>
        
        <span><%= userStatus %></span>
    </div>
  </div>
  <script>

    $(document).ready(function(){
    $('.offerbutton').on('click', (event) => {
        if ($('.offerbutton').hasClass('subscribe')) {
            // hacer peticion POST a 'offerid/subscribe'
            console.log('click subscribe')
            $.ajax({
              method:  'POST',
              url:     "/offer/<%= offer._id %>/subscribe",
              // data:    characterInfo,
            //   success: showFeedback,
            //   error:   handleError
            });
        }
        else {
            // hacer peticion post a offerid/unsubscribe
            console.log('click UNsubscribe')

            $.ajax({
              method:  'POST',
              url:     "/offer/<%= offer._id %>/unsubscribe",
            //   success: showFeedback,
            //   error:   handleError
            });
        }
        // function showFeedback (postResponse) {
        //     console.log('post success');
        //     console.log(postResponse);
        //     alert('te has suscrito correctamente a la oferta')
        // }
        
        // function handleError (err) {
        //     console.log('Oh no! Error:');
        //     console.log(err);
        // }   
    });
  });
</script>