<div class="container">

        <div class="offer card">
            <div class="photo"><img class="car-img-top"src="<%=offer.picture.pic_path %>"></div>  
            <div class="offer-title">
                <div>
                    <h2 class="card-title"><%= offer.title %></h2>
                    <h3><a href="/ong/<%=offer._ong.id%>"><%= offer._ong.name %></a></h3>
                </div>
                <div class="badge">
                    <span class="btn btn-primary btn-round"><%= offer.category %></span>
                </div>
            </div>
            <div class="offer-data">
                <h3>About</h3>
                <p><%= offer.about %></p>
                <h3>When & Where</h3>
                <span><%= myDate %></span>
                <span><%= offer.where %></span>
                <h3>Requirements</h3>
                <span><%= offer.requirements %></span>
            </div>    
                <div class="button">
                <% if (role == 'user') { %>
                    <% if (userStatus === true) { %>
                        <button class="offerbutton subscribed btn btn-lg btn-danger">Unsusbcribe from this offer</button>
                    <% } else { %>
                        <button class="offerbutton btn btn-lg btn-primary">Join the Cause</button>
                    <% } %>    
                <% } %>
                <% if (ongOwner === true) { %>
                        <div class="ong-offer-buttons">
                            <form style="display:inline" method='POST' action='/offer/<%=offer._id%>/delete' ><button class="deleteoffer btn btn-primary btn-lg btn-danger">Delete this offer</button></form>
                        </div>
                        
                <% } %>
                </div>
            </div>
        
            <% if (ongOwner === true) { %>
                <% if (usersSubscribed.length > 0) { %>
                    <div class="all-users-subscribed">
                        <h2>Volunteers subscribed to this offer:</h2>
                    <% usersSubscribed.forEach((user) => { %>
                            <div class="card">
                                <div class="card-body">
                                    <img class="volunteer-photo rounded-circle img-fluid" src="<%=user.picture.pic_path %>">
                                    <div class="volunteer-info-1">
                                        <h3><%= user.username %></h3>
                                        <p>Full Name: <%= user.name %> <%= user.surname %></p>
                                        <p>Email: <%= user.email %></p>
                                        <p>Telephone: <%= user.telephone %></p>
                                    </div>
                                    <div class="volunteer-info-2">
                                        <h5>Address:</h5>
                                        <p><%= user.address.street %></p>
                                        <p><%= user.address.city %></p>
                                        <p><%= user.address.state %></p>
                                        <p><%= user.address.zip %></p>
                                    </div>
                                    <div>
                                        <h5>Availability: </h5>
                                        <div><% user.availability.forEach((availability) =>{ %> 
                                            <span class="badge badge-pill badge-primary"><%=availability %></span>
                                        <% }) %>
                                        </div>
                                    </div>
                                </div>    
                            </div>
                    <% }); %>
                <% } %>
                </div>  
            <% } %>    
        <div class="card useroffer-subscribe">
            <div class="card-body">
                <h3>Thank you for subscribing to this offer</h3>
                <i class="material-icons md-48">favorite</i>
            </div>
        </div>
        <div class="card useroffer-unsubscribe">
            <div class="card-body">
                <h3>Shame on you!</h3>
                <i class="material-icons md-48">arrow_downward</i>
        </div>
        </div>
        
          <script>

          $(document).ready(function(){
            $('.offerbutton').on('click', (event) => {
                console.log('click')
                if ($('.offerbutton').hasClass('btn-danger')) {
                    //hacer peticion POST a 'offerid/unsubscribe'
                    $.ajax({
                        method:  'POST',
                        url:     "/offer/<%= offer._id %>/unsubscribe",
                        success: showFeedbackUnsubscribe(),
                        error:   handleError,
                    });
                $('.offerbutton').removeClass('btn-danger').addClass('btn-primary').text('Join the Cause');    
                }
                else {
                    // hacer peticion post a offerid/subscribe
                    $.ajax({
                        method:  'POST',
                        url:     "/offer/<%= offer._id%>/subscribe",
                        success: showFeedbackSubscribe(),
                        error:   handleError
                    });
                $('.offerbutton').removeClass('btn-primary').addClass('btn-danger').text('Unsusbcribe from this offer');    
                }

                function showFeedbackSubscribe () {
                    $('.useroffer-subscribe').fadeIn(800);
                    $('.useroffer-subscribe').delay(1400).fadeOut(800);
                }
                function showFeedbackUnsubscribe () {
                    $('.useroffer-unsubscribe').fadeIn(800);
                    $('.useroffer-unsubscribe').delay(1400).fadeOut(800);
                }
                function handleError (err) {
                    console.log('Oh no! Error:');
                    console.log(err);
                }   
            });
        });
        </script>