<div class="offer card">
    <div class="photo"><img src="<%=offer.picture.pic_path %>"></div>  

    <div class="offer-data">
        <span class="offer-data-title"><%= offer.title %></span>
        <span class="offer-data-category"><%= offer.category %></span>
        <span class="offer-data-about"><%= offer.about %></span>
        <span class="offer-data-when"><%= offer.when %></span>
        <span class="offer-data-where"><%= offer.where %></span>
        <span class="offer-data-requirements"><%= offer.requirements %></span>
        <% if (role == 'user') { %>
            <% if (userStatus === true) { %>
                <button class="offer-data-button offerbutton subscribed">Unsusbcribe from this offer</button>
            <% } else { %>
                <button class="offer-data-button offerbutton">Join the Cause</button>
            <% } %>    
        <% } %>
        <% if (ongOwner === true) { %>
                <button class="offer-data-button offerbutton edit">Edit this offer</button>
        <% } %>
        
        <span><%= userStatus %></span>
        
    </div>
    <% if (ongOwner === true) { %>
        <div class="all-users-subscribed">
        <% if (usersSubscribed.length > 0) { %>
            <% usersSubscribed.forEach((user) => { %>
                    <div style="border: 1px solid red; width: 80%; height: auto; margin: auto" class="user-subscribed">
                            <span><a href="/<%=user._id%>"><%= user.name %></a></span>
                            <span><%= user.surname %></span>
                            <span><%= user.email %></span>
                            <span>Address:</span>
                            <span><%= user.address.street %></span>
                            <span><%= user.address.city %></span>
                            <span><%= user.address.state %></span>
                            <span><%= user.address.zip %></span>
                    </div>
            <% }); %>
        <% } %>
        </div>
    <% } %>    
  </div>
  
  
  
  <script>
  $(document).ready(function(){
    $('.offerbutton').on('click', (event) => {
        if ($('.offerbutton').hasClass('subscribed')) {
            //hacer peticion POST a 'offerid/unsubscribe'
            $.ajax({
                method:  'POST',
                url:     "/offer/<%= offer._id %>/unsubscribe",
                success: showFeedback,
                error:   handleError,
            });
        $('.offerbutton').removeClass('subscribed').text('Join the Cause');    
        }
        else {
            // hacer peticion post a offerid/subscribe
            $.ajax({
                method:  'POST',
                url:     "/offer/<%= offer._id%>/subscribe",
            //   success: showFeedback,
            //   error:   handleError
            });
        $('.offerbutton').addClass('subscribed').text('Unsusbcribe from this offer');    
        }
        function showFeedback () {
            alert('You have suscribed to this offer. Thank you!')
        }
        
        function handleError (err) {
            console.log('Oh no! Error:');
            console.log(err);
            alert('We are sorry, there was a mistake')
        }   
    });
});
</script>
