<div>
    <div class="page-header header-filter" data-parallax="true" style="background-image: url('<%=ong.picture.pic_path %>');">
        <div class="container">
            <div class="info info-horizontal">
                <div class="brand">
                    <h1 style="font-weight: bold"> 
                        <%= ong.name %>
                    </h1>
                    <span class="badge badge-pill badge-primary">
                        <span>
                            <%= ong.category %>
                        </span>
                    </span>
                    <br>
                    <h3>Contact Data:</h3>
                    <div class="container">
                        <i class="material-icons">email</i>
                        <%= ong.email %>
                    </div>
                    <br>
                    <div class="container">
                        <i class="material-icons">phone</i>
                        <%= ong.telephone %>
                    </div>
                    <br>
                    <h3>Address:</h3>
                    <div class="container">
                        <div clas="alert-icon">
                            <i class="material-icons">location_on</i>
                            We are in <%= ong.address.street %> <%= ong.address.city %> , <%= ong.address.state %> ZIP: <%= ong.address.zip %>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <!-- OTHER OPTION FOR TO DISPLAY THE INFO -->
                </div>
            </div>
        </div>
    </div>
</div>

<% ong._offersPublished.forEach((offer) => { %>
    <div class="col-md-6 ml-auto mr-auto">
        <div class="card" style="width: 50rem;">
            <img class="card-img-top" src="<%= offer.picture.pic_path %>" alt="Card image">
            <div class="card-body">
                <h3 class="title">
                    <%= offer.title %>
                </h3>
                <span class="badge badge-pill badge-primary">
                    <%= offer.category %>
                </span>
                <h4>
                    <%= offer.when %>
                </h4>
                <h5 style="font-weight: bold">
                    <%= offer.where %>
                </h5>
            </div>
        </div>
    </div>
<% }) %>

