<h1>PUBLIC ONG PAGE</h1>
<div>
    <div class="photo"><img src="<%=ong.picture.pic_path %>"></div>  
    <div>
        <span></span><%= ong.name %></span>
        <br>
        <span><%= ong.category %></span>
        <br>
        <span>Contact Data:</span>
        <br>
        <span><%= ong.email %></span>
        <br>
        <span><%= ong.telephone %></span>
        <br>
        <span>Address:</span>
        <br>
        <span><%= ong.address.street %></span>
        <br>
        <span><%= ong.address.city %></span>
        <br>
        <span><%= ong.address.state %></span>
        <br>
        <span><%= ong.address.zip %></span>
    </div>
  </div>
