<div class="profile-page">
  <h2>
    <%= ong.username %>
  </h2>
  <div class="page-header header-filter" data-parallax="true" style="background-image: url('<%=ong.picture.pic_path %>');"></div>
  </div>
  <br>  
</div>

<% ong._offersPublished.forEach((offer) => { %>
<div class="all-opportunities">
<div class="card card-opportunity" style="width: 60%;">
  <img class="card-img-top" src="<%= offer.picture.pic_path %>" alt="Card image">
  <div class="card-body">
    <div class="card-body-info">
      <h3 class="card-title"><%= offer.title %></h3>
      <span class="badge badge-pill badge-primary">
        <%= offer.category %>
      </span>
      <h4><%= offer._ong.name %></h4>
    </div>
    <div>
      <i class="material-icons">today</i>
      <h4 class="text"><%= offer.when %></h4>
    </div>
    <div>
      <i class="material-icons">location_on</i>
      <h5 class="text"><%= offer.where %></h5>
    </div>
      <br>
  </div>
</div>
</div>
<% }) %>

<button type="submit" class="btn btn-primary">
  <a href="newoffer">Create a New Offer</a>
</button>







<!-- <h1>Profile ong</h1>

<h2><%= ong.username %> </h2>

<img src="<%= ong.picture.pic_path %>"/>

<button><a href="newoffer">Create a New Offer</a></button>
 -->
